/* General Styles Section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

/* Header Section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgb(196, 177, 177);
  background-color: #a8a8a8;

  nav {
    display: flex;
    justify-content: center;
  }

  .logo {
    margin: 1rem;
    display: flex;
    align-items: center;

    h2 {
      font-size: 1.5rem;
      margin-left: 1.5rem;
    }
  }

  nav a {
    font-size: 1.25rem;
    text-decoration: none;
    margin: 0.5rem;
    color: #000000;
    padding: 0.5rem;
    &:hover {
      background-color: rgb(196, 177, 177);
      border-radius: 1.5rem;
    }

    small {
      width: 7rem;
      background-color: #133abc;
      border: none;
      border-radius: 0.75rem;
      color: white;
      padding: 0.5rem 0.75rem;
    }
  }
}

/* Projects Section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.purple-background {
  background-color: #475277;
  width: auto;
  margin: 1rem;
  border-radius: 1.5rem;
  display: grid;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.projects-header {
  color: #c3c9e1;
  justify-self: center;
}

.project-image-container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 2rem;
}

.card-container {
  display: grid;
  row-gap: 3.5rem;
}

.card-article {
  position: relative;
  overflow: hidden;
}

.card-image {
  width: 50rem;
  height: 100%;
  border-radius: 1.5rem;
}

.card-data {
  width: 40rem;
  background-color: #c3c9e1;
  padding: 1.5rem 2rem;
  box-shadow: 0 0.5rem 1.5rem hsla(0, 0%, 0%, 0.15);
  border-radius: 1.5rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  /* opacity: 0; */
  transition: opacity 1s 1s;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.card-title {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
  color: black;
}

.card-description {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  color: black;
}

.card-button {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.card-button:hover {
  text-decoration: underline;
}

/* Naming Animations in Hover
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.card-article:hover .card-data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card-article:hover {
  animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
  animation: remove-data 1s forwards;
}

/* Card Animations
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  100% {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  110% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/* Footer Section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
footer {
  background-color: #133abc;
  margin-top: auto;
}

#contact-container {
  display: flex;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;

  h2 {
    color: white;
  }
  p {
    color: white;
    margin: 0 0 1rem 0;
  }
  .bx {
    color: white;
    font-size: 3rem;
    margin: 0 1rem;
  }
}

.contact-images-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 1rem;
}

/* Media Queries Section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* Small Screens */
@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .project-image-container {
    margin-inline: 1rem;
  }

  .card-article {
    img {
      width: 100%;
      height: auto;
    }
  }

  .card-data {
    width: 14rem;
    height: auto;
    padding: 1rem;

    .card-title {
      font-size: 1.75rem;
    }
    .card-description {
      font-size: 1rem;
    }
  }

  .header {
    flex-direction: column;

    nav {
      flex-direction: column;
      align-items: center;
    }
  }
}
